.root {
    -fx-padding: 10;
    -fx-background-color: #fcfcfc;
    -fx-brand-color: #497173;
}

.signup-section {
    -fx-padding: 0 30 0 30;
    -fx-spacing: 15;
    -fx-alignment: center;
}

.title-label {
    -fx-font-size: 3.3em;
    -fx-font-family: "Poppins ExtraBold";
    -fx-text-fill: -fx-brand-color;
}

.subtitle-label {
    -fx-text-fill: #000000;
    -fx-font-size: 2em;
    -fx-font-family: "Inter SemiBold";
    -fx-wrap-text: true;
    -fx-text-alignment: center;
}

.input-field {
    -fx-padding: 0 0 0 50;
    -fx-background-color: #ffffff;
    -fx-prompt-text-fill: #bdbdbd;
    -fx-border-radius: 10;
    -fx-border-color: #949494;
    -fx-background-radius: 10;
    -fx-font-size: 1.5em;
    -fx-font-family: Consolas;
}

.text-field-error{
    -fx-border-color: transparent transparent red transparent;
    -fx-border-width: 0 0 1px 0;
}

.start-button {
    -fx-background-color: -fx-brand-color;
    -fx-text-fill: white;
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
    -fx-font-family: "Inter SemiBold";
    -fx-background-radius: 12px;
}

.start-button:hover{
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-border-radius: 12px;
    -fx-background-color: #3ebd6e;
    -fx-effect: dropshadow(gaussian, rgb(0, 0, 19), 0, 0.3, 5, 5);
    -fx-translate-x: -4px;
    -fx-translate-y: -4px;
}

.login-link{
    -fx-text-fill: black;
    -fx-font-size: 1.2em;
}

.social-button {
    -fx-background-color: #dcdcdc;
    -fx-padding: 10;
    -fx-border-color: transparent;
    -fx-border-radius: 50%;
    -fx-background-radius: 40px;
}

.social-button:hover{
    -fx-background-color: white;
}


.media-pane {
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: #2E7D32;
    -fx-border-width: 2;
    -fx-background-color: black;
}

.password-error{
    -fx-text-fill: red;
}

.login-section {
    -fx-padding: 75 30 0 30;

}

.login-Text {
    -fx-text-fill: #000000;
    -fx-font-family: Avenir, Helvetica, Arial, sans-serif;
    -fx-font-size: 35;
    -fx-font-weight: bold;
}

.login-input{
    -fx-border-color: transparent transparent #E0E0E0 transparent;
    -fx-background-color: transparent;
    -fx-font-size: 14px;
    -fx-text-alignment: left;
    -fx-font-family: Consolas;
    -fx-border-width: 0px 0px 2px 0px;
}

.login-input:focused{
    -fx-border-color: transparent transparent #000000 transparent;
}

.login-button{
    -fx-background-color: black;
    -fx-background-radius: 12;
    -fx-font-family: Avenir, Helvetica, Arial, sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-text-fill: white;
}

.login-button:hover{
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-background-color: #0019ff;
    -fx-border-radius: 12px;
    -fx-effect: dropshadow(gaussian, rgb(2, 2, 2), 0, 0.3, 5, 5);
    -fx-translate-x: -4px;
    -fx-translate-y: -4px;
}

#registered-link{
    -fx-text-fill: #9d9d9d;
}

#signin-link{
    -fx-font-family: Avenir, Helvetica, Arial, sans-serif;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-border-color: transparent;
    -fx-font-size: 15;
}

.login-title{
    -fx-font-size: 20;
    -fx-font-weight: bold;
}