/* webview-style.css */
.web-view {
    -fx-border-color: #cccccc;
    -fx-border-width: 2px;
}

.button {
    -fx-background-image: url("/close.png");
    -fx-background-size: 25px 25px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: #c8c8c8;
    -fx-padding: 10px;
    -fx-font-size: 14px;
    -fx-background-radius: 20px;
}

.button:hover {
    -fx-blend-mode: difference;
}
